body {
    font-family: 'Courier New', Courier, monospace; 
    padding: 1em;
}

.menu-list {
    font-size: 1.5em;
    padding: 0;
}

.menu-list li {
    display: inline-block; 
    width: 150px;
    border: solid black 1px;
    text-align: center;;
}

.menu-list a {
    text-decoration: none;
}

a:visited {
    color:blue;
}
table { 
    width: 100%; 
}

th { 
    background-color:lightgray;
} 

td, th { 
    border: solid 1px black; 
    text-align:center;
}

