body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: darkcyan;
    color: white;   
}
.container {
    margin: 0 auto;
    width: 95%;
}

header {
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 5px 0;
    margin-bottom: 50px;
}

.logo {
    display: flex; 
    align-items: center;
    margin-right: 20px;
}

.logo img {
    max-width: 100px;
    height: auto;
    margin-right: 20px;
}

.start-area {
    display: flex; 
    align-items: center; 
    padding: 4px;
    border: 1px solid rgb(105, 170, 170);
    border-radius: 15px;
}

#tasks-ddn {
    color: darkslategray;
    height: 30px;
    width: 150px;
    margin: 0 8px;
    font-size: 0.9em;
}

#time-counter {
    color: darkslategray;
}

#start-btn {
    border: none;
    background-size: cover;
    height: 35px; 
    width: 80px;
    margin: 0 8px;
}

#start-btn:hover {
    cursor: pointer;
}

.start {
    background: darkcyan url("Pictures/start.png") no-repeat center;
}

.stop {
    background: darkcyan url("Pictures/stop.png") no-repeat center;
}

h2 {
    color: darkslategray
}

.log-area {
    padding-left: 40px;
}

#log-tbl {
    color: rgb(105, 170, 170);
    color: darkslategray;
    width: 100%;
    border-collapse: collapse;
}

th {
    text-align: left;
}

td {
    border: 1px solid black; 
    padding: 5px;
    width:25%;
}